:root {
	--font-one: "Cairo", sans-serif;
	--font-two: "Silkscreen", sans-serif;
	--gray: #303841;
	--light-blue: #a8e6cf;
	--deep-blue: #45567d;
	--ovwhite: #ffd3b6;
	--light-red: #ffaaa5;
	--deep-pink: #a80038;
	--deep-brown: #2b2024;
	--light-black: #393e46;
	--blue-green: #4ecca3;
	--scroll: 0;
	--white: #fff6f6;
	--black: #042f1a;
	--grey: #d8d8d8;
	--blue: #80bdea;
	--red: #f95b77;
	--green: #1abe71;
	--darkgreen: #0a3f3d;
	--lightgreen: #d4ed6d;
	--teal: #337f7d;
	--yellow: #ffb500;
	--pink: #ff73b5;
	--peach: #f8bf95;
	--lightpeach: #fad4b8;
	--orange: #f6aa72;
	--cream: #fff7f3;
	--mint: #ccdfde;
	--color-dark: var(--black);
	--color-light: var(--white);
	--color-primary: var(--blue);
	--color-secondary: var(--teal);
	--color-success: #36ed9c;
	--color-error: #ff3154;
	--text-color: var(--white);
	--link-color: inherit;
	--link-hover: var(--red);
	--background: var(--black);
	--accent-color: var(--pink);
	--button-bg: var(--pink);
	--button-text: var(--black);
	--button-padding: 0.2em 0.7em 0.6em 0.7em;
	--button-radius: 4px;
	--content-width: calc(100% - 2rem);
	--vpad: 40px;
	--hpad: 25px;
	--nav-height: 80px;
	/* Background opacity decrease with scrolling  */
	--background-opacity: calc(100% - (1% * min(var(--scroll), 30) * 100 / 30));
}

img {
	width: 100%;
	object-fit: cover;
}

ul {
	list-style: none;
	display: flex;
}

a {
	color: inherit;
	text-decoration: none;
}
::placeholder {
	font-family: inherit;
	color: var(--grey-400);
}
::before,
::after,
* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-one);
	margin: 0;
}

.container {
	width: 1300px;
	margin: auto;
	padding: 0px 20px;
	height: 100%;
}

.full-page {
	height: 100vh;
}
.special-text {
	font-family: var(--font-two);
}
/* ..............  */
.page-delay {
	position: sticky;
	top: 0;
	translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75);
	--background-opacity: calc(100% - (1% * min(var(--scroll), 30) * 100 / 30));
}
.page-in-the-backside {
	transform: translate(
		calc(-100% + (var(--scroll) * 1%)),
		calc(-100% + (var(--scroll) * 1%))
	);
}

/* ................. Down List  */
.down-list {
	padding: 8px;
	position: relative;
	font-weight: bold;
}
.down-list .arrow {
	content: "";
	width: 12px;
	height: 9px;
	display: inline-block;
	background-image: url(../pics/arrow\ down.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 15px;
	right: 0px;
}
.down-list .list {
	/* display: none; */
	background-color: #027ef3;
	width: 200px;
	min-height: 100px;
	position: absolute;
	right: -90px;
	top: 100%;
	/* z-index: 10000; */
	border-radius: 5px;
	opacity: 0;
	transition: var(--transition);
	z-index: -1;
}
.down-list.active .list {
	opacity: 1;
	z-index: 10000;
	/* display: inline-block; */
}
.down-list .list .link-item {
	display: flex;
}

/* .................... Moving Bar  */
.div-bar .bar {
	/* display: inline-block; */
	position: absolute;
	bottom: 50px;
	display: flex;
	width: 100vw;
	justify-content: space-between;
	animation-name: bar;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.div-bar .bar-two {
	/* display: inline-block; */
	position: absolute;
	bottom: 50px;
	display: flex;
	width: 100vw;
	justify-content: space-between;
	animation-name: bar-two;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform: translateX(100%);
}
.div-bar .bar-two .icon,
.div-bar .bar .icon {
	width: 100px;
	font-size: 50px;
	padding: 0 calc(100vw / 18);
}
@keyframes bar {
	100% {
		transform: translate(-100%);
	}
}
@keyframes bar-two {
	100% {
		transform: translate(0%);
	}
}
/* ......................... snaped scroll  */
.marks {
	text-align: center;
}
.marks .container {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.marks .container .scroll-bar {
	overflow-x: scroll;
	display: flex;
	padding: 25px 0px;
	list-style: none;
	scroll-snap-type: x mandatory;
	transition: all 0.5s;
}
.marks .container .scroll-bar.active {
	scroll-snap-type: none;
}
.marks .container .scroll-bar .pic {
	flex: 0 0 20%;
	padding: 20px;
	background: var(--white);
	border-radius: 12px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
	scroll-snap-align: start;
	transition: all 0.5s;
}

.marks .scroll-bar .pic img {
	width: 40%;
	object-fit: cover;
}

.marks .scroll-bar::-webkit-scrollbar {
	height: 12px;
}

.marks .scroll-bar::-webkit-scrollbar-thumb,
.marks .scroll-bar::-webkit-scrollbar-track {
	border-radius: 92px;
}

.marks .scroll-bar::-webkit-scrollbar-thumb {
	background: var(--green-dark);
}

.marks .scroll-bar::-webkit-scrollbar-track {
	background: var(--grey-200);
}
/* Footer Scroll Moving  */
/* .................... Moving Bar  */
.footer {
	position: relative;
	z-index: 99999;
	display: flex;
	overflow-x: scroll;
	height: 60px;
	align-items: center;
	background-color: var(--gray);
	color: white;
}
.footer .one {
	display: flex;
	justify-content: space-around;
	animation-name: bar;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	flex: 1 1 100%;
}
.footer .two {
	display: flex;
	justify-content: space-around;
	animation-name: bar-two;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	/* transform: translateX(100%); */
	flex: 1 1 100%;
}
.footer .two .cell,
.footer .one .cell {
	display: inline-block;
	/* padding: 0 calc(100vw / 18); */
	font-weight: bold;
	/* width: calc(100vw / 9); */
	width: 100vw;
}
.footer::-webkit-scrollbar {
	height: 0px;
}

.footer::-webkit-scrollbar-thumb,
.footer::-webkit-scrollbar-track {
	border-radius: 92px;
}

.footer::-webkit-scrollbar-thumb {
	background: var(--green-dark);
}

.footer::-webkit-scrollbar-track {
	background: var(--grey-200);
}
/* Text ellipse *******************  */
.test-ellipse {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
